:host {
    background-color: #555
    margin: 1px

    display: flex
    flex-wrap: nowrap
    align-items: stretch
    flex-direction: column

    cursor: default
}

fire-ui-toolbar {
    height: 20px
    box-sizing: border-box
}

#event-bar {
    border-top: 1px solid #888
    border-bottom: 1px solid #888
    background-color: #244a61
}

.editing i {
    color: red
}
.editing i:hover {
    color: red
}

.props {
    overflow-y: auto
    overflow-x: hidden
}

.prop {
    box-sizing: border-box

    height: 30px
    font-size: 15px
    padding: 6px 10px 6px 5px

    background: #282828
    color: #aaa
}

.prop:nth-child(even) {
    background: #424242
}

.comp {
    font-size: 12px
}

.prop-name {
    overflow: hidden
    text-overflow: ellipsis
}

.fa-plus-circle {
    font-size: 12px
    cursor: pointer
}
.fa-plus-circle:active {
    color: #333
}

.fa-close {
    margin-right: 10px
    cursor: pointer
    color: #555
}
.fa-close:hover {
    color: #900
}
.fa-close:active {
    color: #300
}
