:host {
    background-color: #555
    margin: 1px
}

fire-ui-toolbar {
    height: 19px
    box-sizing: border-box
    margin-bottom: 1px
}

.actions {
    padding: 0px
    margin: 0px
    height: 100%
    width: 100%
    background-image: url('img/bg.png')
}
