:host {
    position: relative
}

.key-node {
    cursor: pointer
}

.key-node.selected {
    stroke: #0f0
}

svg {
    position: relative
    z-index: 99
    shape-rendering: geometricPrecision
}

svg .rect-select {
    fill: rgba( 0, 128, 255, 0.4 )
    stroke-width: 1
    stroke: #09f
}

pre {
    bottom: 5px
    right: 5px
    position: absolute
    margin: 0px
    font-weight: bold
    color: gray
    text-align: right
    white-space: pre-line
}
